[Desktop Entry]
Version=1.0
Type=Application
Name=MesaCT
Exec=mesact
Icon=linuxcncicon
Categories=Utility;Engineering;X-CNC;
Terminal=false
StartupNotify=true
StartupWMClass=mesact
GenericName=Mesa Configuration Tool
GenericName[fr]=Outil de Configuration Mesa
Comment=Mesa FPGA AnythingI/O boards configuration tool
Comment[fr]=Outil de configuration des cartes Mesa FPG AnythingI/O

