Source: mesact
Maintainer: John Thornton <jt@gnipsel.com>
Build-Depends: debhelper (>= 11.0.0)
Standards-Version: 3.9.3
Section: utils
Priority: optional

Package: mesact
Priority: optional
Architecture: any
Depends: python3 (>=3.6), python3-pyqt5, zip, python3-packaging,
 python3-requests, ${misc:Depends}
Description: Mesa Configuration Tools
 For 5i25/6i25, 7i76e, 7i80, 7i92, 7i95, 7i96, 7i97
 Mesa LinuxCNC motion boards and daughter cards

