Source: mesact
Maintainer: John Thornton <dev@gnipsel.com>
Build-Depends: debhelper (>= 11.0.0)
Standards-Version: 4.6.1.0
Section: utils
Priority: optional
Rules-Requires-Root: no

Package: mesact
Priority: optional
Architecture: any
Depends:  ${misc:Depends},
          python3 (>=3.6),
          python3-pyqt5,
          zip,
          python3-packaging,
          python3-requests
Suggests: linuxcnc-uspace,
          mesaflash
Description: Mesa Configuration Tools for LinuxCNC
 For 5i25/6i25, 7i76e, 7i80, 7i92, 7i95, 7i96, 7i97
 Mesa LinuxCNC motion control boards and daughter cards.
